<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger's Books</title>
</head>

<body>
        <section class="hero is-medium is-bold">
            <div class="hero-body has-text-centered">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="box is-half">
                            <h1 class="title">
                                Burger's Books
                            </h1>
                            <h2 class="subtitle">
                                A list of books, inspired by a list of burgers.
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        {{{ body }}}

        <footer class="footer has-background-light">
            <div class="content has-text-centered has-text-grey">
                <p>
                    <strong>Copyright © 2021</strong>
                    <span>Charli Spilecki</span>
                </p>
            </div>
        </footer>
    <script src="assets/js/scripts.js"></script>
</body>

</html>